.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--secondary-color);
  border-left: 4px solid black;
  border-right: 4px solid black;
  box-sizing: border-box;
}
.game {
  padding: 16px 0;
  box-sizing: border-box;
  > p {
    margin: auto;
    width: 65%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
  }
  > h1 {
    text-align: center;
    margin: 0;
    font-style: italic;
  }
  > h3 {
    text-align: center;
  }
  &-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 24px auto;
    width: 65%;
    > input,
    > button {
      padding: 8px 16px;
      border-radius: 8px;
      cursor: pointer;
      background-color: var(--secondary-color);
      border: 3px solid black;
      font-weight: bold;
      font-size: 16px;
    }
    > input {
      flex: 1;
    }
  }
}
.piece {
  // &-small > div svg {
  //   height: 50px;
  // }
  &-black {
    fill: black;
  }
  &-white {
    fill: white;
  }
}
